@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


html, body {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

.overflow-control {
    overflow: hidden;
}

/* ------- Navbar -------- */

.bg-img {
    background-image: url("https://images.unsplash.com/photo-1597404294360-feeeda04612e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.navbar-brand img {
    position: relative;
    opacity: 0.9;   
}

.navbar {
    background-color:rgba(0, 48, 73, 0.9);
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 99;
}

.navbar-nav {
    margin: 0 auto;
}

.navbar-toggler {
    color: rgba(0, 48, 73, 0.9);
    border-radius: 80%;
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-right: 13px;
}

.navbar-toggler span {
    color: black;
    display: block;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 0, 128);
    border: 1px;
}

.navbar-toggler span + span {
    color: black;
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 4px;
    background-color: rgb(255, 72, 0);
    border: 1px;
}

.nav-item, .nav-link {
    padding-right: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.hvr-underline-from-center::before {
    background-color: rgba(207, 52, 13, 0.986);
}

.navbar-nav, .nav-link {
    color: #fff;
}

.active {
    color: rgba(207, 52, 13, 0.986)
}

.navbar-nav .nav-link:hover {
    color: rgba(207, 52, 13, 0.986);
}

/* -------- About Us ------ */

.about {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 48, 73, 0.9);
}

.text-start {
    letter-spacing: 2px;
    color: rgba(0, 48, 73, 0.9);
}

.text-end {
    color: rgba(0, 48, 73, 0.9);
    letter-spacing: 2px;
}

.about img {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 48%;
}

.size-1 {
    font-size: 1.8rem;
}

.size-2 {
    font-size: 2.2rem;
}

.size-3 {
    font-size: 2.8rem;
}

#past {
    margin: auto;
    margin-top: 10px;
    padding: 5px 8px;
    text-align: center;
    line-height: 30px;
}

#present {
    margin: auto;
    padding: 5px 8px;
    text-align: center;
    line-height: 30px;
}

#present p {
    color: rgb(14, 1, 1);
    font-size: 1.1rem;
    word-spacing: 1px;
    font-weight: 400;
    color: black;
}

#past p {
    color: rgb(14, 1, 1);
    font-size: 1.1rem;
    word-spacing: 1px;
    font-weight: 400;
}

 /* ------ Card ------- */

.title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 48, 73, 0.9);
    margin: 20px 0px;
}


.sub-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 48, 73, 0.9);
    margin: 50px 0px;
    text-decoration: red solid overline;
    
}

.sub-title-two {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0, 48, 73, 0.9);
    margin: 50px 0px;
}

.card {
    margin-bottom: 30px;
    
}

.card {
    height: 500px;
    background-color: rgba(0, 48, 73, 0.6);
}


p.card-text {
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
}

img.card-img-top {
    width: 250px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    border-radius: 50%;
    margin-top: 5px;
    border: 3px solid darkgray;
}

.card-body p i {
    font-size: 40px;
    color: #fff;
}

.card-body h5 {
    color: #fff;
}


/* -------Service One--------- */

.links {
    text-decoration: none;
}

.quote-btn {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 48, 73, 0.7);
}

.quote-btn:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(216, 45, 45, 0.7);
}

.services {
    font-size: 1.1rem;
    padding: 30px;
    margin-top: 10px;
    position: unset;
    z-index: -1;
}

.carousel-one {
    position: relative;
    bottom: 50px;
    right: 50px;
}

.list {
    height: 200px;
}

.car-wrap li {
    list-style: none;
}

.slide-caption {
    background-color: rgba(0, 48, 73, 0.6);
}


.wrap-caption {
    position: relative;
    z-index: 5;
    margin: auto;
    font-size: 1rem;
    padding: 0px 25px;
}

.wrap-info {
    z-index: 5;
}

/* -------Service Two--------- */

.detail-caption {
    position: relative;
    right: 50px;
    z-index: 5;
    margin: auto;
    font-size: 1rem;
    padding: 0px 25px;
}

.carousel-two {
    position: relative;
    bottom: 50px;
    
}

/* -------Gallery--------- */


.gallery-images {
    padding: 5px 4px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.gallery-images div img {
    max-width: 100%;
    flex-wrap: nowrap;
    padding: 5px 4px;
    margin: 0px 5px;
}

.hvr-fade {
    z-index: 99;
}

/* -------Modal--------- */

.modal img {
  overflow: hidden;
}

.modal-caption {
    background-color: rgba(0, 48, 73, 0.6);
}

p.modal-caption {
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff7f7;
    font-size: 1rem;
    letter-spacing: 0.8px;
    text-align: justify;
}

.btn-close {
    background-color: white;

}

/* -------Contact--------- */

.contact-p {
    font-size: 25px;
}

#myForm {
    padding: 40px;
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
    letter-spacing: 1px;
}

form input {
    margin-right: 0px;
}

.form-floating {
  height: calc(3.5rem + 2px);
  padding: 1rem 0.75rem;
}

label {
    transition-property: top, left;
    transition-duration: 0.3s;
    visibility: visible;
}

.send-button {
    background-color: rgba(184, 4, 4, 0.5);
    font-size: 20px;
    height: 50px;
    width: 100px;
}

.send-button:hover {
    color: #fff;
    background-color: rgba(0, 48, 73, 0.9);
    transition: ease-in-out 0.5s;
}

iframe {
    border-radius: 10%;
    border: 2px solid black;
    overflow: hidden;
    margin-bottom: 40px;
    width: 100%;
}

.contact a i {
    font-size: 50px;
    position: relative;
    bottom: 20px;
    color: rgba(0, 48, 73, 0.9);
}

/* ------ Footer ------ */

footer {
    max-height: 700px;
    background-color:rgba(0, 48, 73, 0.9);
    overflow: hidden;
    letter-spacing: 2px;
}

.icons {
    padding: 20px;
}

.address .hours .follow {
    padding: 2px;
    color: #fff;
}

.footer {
    color: #fff;
}

li {
    margin-top: 20px;
}

.list {
    display: inline-block;
}

.follow {
    padding-bottom: 15px;   
}

.follow li a i {
    font-size: 35px;
    transition: all 0.5s ease-in-out;
}

.follow li a i:hover {
    color: white;

}


/* ---- Error 404 page ----- */

.error-404 {
    max-width: 800px;
}

.error-404 h1 + h2 {
    position: absolute;
    text-align: center;
}

.error-404 img {
    width: 100%;
    height: 100%;

}

/* ----- Media Query -----  */



@media screen and (max-width: 400px) {
    .wrap-caption {
    position: relative;
    bottom: 30px;
    z-index: 5;
    margin: auto;
    font-size: 1rem;
    padding: 0px 25px;
    }

    .carousel-one {
    position: relative;
    bottom: 50px;
    right: 19px;
    }
}